<div class="row">
    <form class="form-group col-md-2">
      <div class="col my-3">
      <label for="name" class="visually-hidden" >Nombre </label>
      <input type="text" name="name" id="name" class="form-control my-2" placeholder="Nombre" #nombreInput>
      <!-- Forma de hacerlo con TwoWayBinding :  <input type="text" name="apellido" id="apellido" class="form-control my-2" placeholder="Apellido" [(ngModel)]="nombreInput"> -->
    </div>
  </form>
  <form class="form-group col-md-3">
    <div class="col my-3">
      <label for="apellido" class="visually-hidden" >Nombre </label>
      <input type="text" name="apellido" id="apellido" class="form-control my-2" placeholder="Apellido" #apellidoInput>
      <!-- Forma de hacerlo con TwoWayBinding :  <input type="text" name="apellido" id="apellido" class="form-control my-2" placeholder="Apellido" [(ngModel)]="apellidoInput"> -->
    </div>
  </form>
  
  </div>
  <div class="row my-2">
    <div class="col-md-2"> <!-- Recibe de parametros valores de tipo input en el .ts recibe valores tipo HTMLInputElement 
    Con local Reference : (click)="agregarPersonas(nombreInput,apellidoInput) los paramentos son los # de los inputs-->
    <button type="submit" class="btn btn-success" (click)="agregarPersonas()">Agregar</button>
  </div>
  </div>